// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

@mixin visuallyhidden() {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

@mixin breakpoint($point) {
  @if $point == xs {
    @media screen and (min-width: $size__screen-xs)  { @content; } 
  }
  @if $point == sm {
    @media screen and (min-width: $size__screen-sm) { @content; }
  }
  @if $point == md {
    @media screen and (min-width: $size__screen-md) { @content; }
  }
  @if $point == lg {
    @media screen and (min-width: $size__screen-lg) { @content; }
  }
  @else if $point == xl {
    @media screen and (min-width: $size__screen-xl) { @content; }
  }
}

@mixin no-bullets() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin inline-list() {
  @include no-bullets();
  li {
   display: inline-block; 
 }
}

@mixin icon-font($icon: cog, $position: none, $color: $color__text-main) {
  @if $position == after {
    &:after {
      margin-left: .5em;
      @include fa-icon;
      @extend .fa-#{$icon};
      color: $color;
    }
  }
  @elseif $position == before {

    &:before {
      margin-right: .5em;
      @include fa-icon;
      @extend .fa-#{$icon};
      color: $color;
    }
  }
  @else {
    @include fa-icon;
    @extend .fa-#{$icon};
    color: $color;
  }
}

/**
 * Icon Map
 * https://webdevstudios.com/2015/01/28/mapping-icon-fonts-with-sass/
 *
 */
$icons: (
    search: "\f002",
    facebook: "\f09a",
    twitter: "\f099",
    previous: "\f104",
    next: "\f105",
    comments: "\f0e6",
    youtube: "\f167",
    rss: "\f09e"
);

/**
 * Font Icons
 * http://jaydenseric.com/blog/fun-with-sass-and-font-icons
 *
 */
@mixin icon($position: before, $icon: false, $styles: true) {
    @if $position == both {
        $position: 'before, &:after';
    }
    // Either a :before or :after pseudo-element, or both, defaulting to :before
    &:#{$position} {
        @if $icon {
            // A particular icon has been specified
            content: "#{map-get($icons, $icon)}";
        }
        @if $styles {
            // Supportive icon styles required
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-family: $font__icon;
        }
        // Include any extra rules supplied for the pseudo-element
        @content;
    }
}

