.main-navigation {
	clear: both;
	display: block;
	width: 100%;
	font-family: $font__navigation;
	@include font-size($font__size-small);

	a {
		display: block;
		text-decoration: none;
	}

	ul {
		display: none;
		@include no-bullets;
		background-color: $color__light-gray;

		li {
			padding: .35em .5em;

			&.crisis-toolkit {
				background-color: $color__primary;
				a {
					color: $color__white;
				}

				&:hover,
				&:focus {
					background-color: $color__black;
				}
			}
		}
	}
}


@include breakpoint(md) {
	.main-navigation {
		position: fixed;
		z-index: 500;
		@include font-size($font__size-h6);

		ul {

			display: block;
	    	width: $size__site;
		    max-width: $size__site-max;
		    margin-right: auto;
		    margin-left: auto;
	    	text-align: center;
	    	background-color: $color__white;

	    	&>li {
	    		width: 16.66%;
	    		padding: 0;
	    		background-color: $color__white;
	    	}

	    	li {
	    		float: left;
				position: relative;

	    		&:hover,
	    		&:focus {
	    			&> ul {
	    				left: auto;
	    			}
	    		}

	    		a {
	    			display: block;
	    			padding: .75em 0;
	    		}
	    		a:hover,
	    		a:focus {
	    			background-color: $color__black;
	    			color: $color__white;
	    		}
	    	}

	    	ul {
				float: left;
				position: absolute;
				top: 1.5em;
				left: -999em;
				z-index: 99999;
	    		margin-top: 25px;
	    		width: 100%;
	    		background-color: $color__light-gray;
	    		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
				
				li {
					position: relative;
					background-color: $color__mid-gray;
					width: 100%;
					a {
						display: block;
						color: $color__text-main;
					}
				}

				// Third Level Fly-out Nav
				ul {
					right: -100%;
					top: -1.5em;
				}

	    	}

		}
		
		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
		}
	}

}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
    width: 100%; 
    background-color: $color__black;
    @include font-size($font__size-small);
    font-family: $prestige;
    font-weight: normal;
    box-shadow: none;
    text-shadow: none;
    text-transform: uppercase;
    color: $color__white;
    cursor: pointer;
    text-align: center;

    &:hover,
    &:focus {
        box-shadow: none;
    }

    @include icon-font($icon: align-justify, $position: before, $color: $color__white);
}

@include breakpoint(md) {
	.menu-toggle {
		display: none;
	}
}

.nav-menu {
	border-top: 1px solid $color__mid-gray;
	&> li {
		border-bottom: 1px solid $color__mid-gray;

		&:not(:last-child) {
			border-right: 1px solid $color__mid-gray;
		}
	}

}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}