.format-aside {
    padding: .5em .25em;
    background-color: $color__lightest-gray;
    font-family: $font__monospace;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
}