$size__site: 90%;
$size__site-max: 1200px;
$size__site-main: 100%;
$size__site-content: 65%;
$size__site-sidebar: 35%;

$size__screen-xl: 1024px;
$size__screen-lg: 960px;
$size__screen-md: 768px;
$size__screen-sm: 485px;
$size__screen-xs: 360px;
