$color__white: #fff;
$color__black: #111;

// $icarus-brown:          #AF7C51;
// $icarus-orange:         #EF612B;
// $icarus-dark-green:     #3C621B;
// $icarus-green:          #4A951A;
// $icarus-lemon-yellow:   #E6D459;
// $icarus-red:            #A41A26;
// $icarus-blue:           #1678A3;
// $icarus-mild-orange:    #EBAA47;
// $icarus-black:          #231F20;
// $icarus-faded-red:      #CB505D; 
// $icarus-deep-black:     #273628;
// $icarus-deep-red:       #7C0E1E;
// $icarus-gray:           #ccc;
// $icarus-light-gray:     #E5E5E3;

$color__darkest-gray: #273628;
$color__dark-gray: #4d4d4d;
$color__mid-gray: lighten($color__black, 50%);
$color__light-gray: #ccc;
$color__lightest-gray: #e5e5e3;

$color__primary: #7C0E1E;
$color__secondary: #CB505D;
$color__accent: #9A8CB6;

$color__success: #3C621B;
$color__info: #1678A3;
$color__warning: #EBAA47;
$color__danger: $color__primary;
$color__default: #ccc;

$color__facebook: #425071;
$color__twitter: #8EC3D8;
$color__forum: $color__accent;
$color__radio: #9E6731;
$color__youtube: #814644;
$color__rss: #9B836C;


//RESPONSIVE COLORS
$icarus-responsive-bk:  $color__lightest-gray;


$icarus-nav-second:     $color__light-gray;
$etk-color: $color__primary;

$icarus-secondary-hover: $color__lightest-gray;

// The amount lists, blockquotes and comments are indented.
$indent-amount: 30px;

// The height of the navigation container.
$nav-height: 3em;

// Tab styling.
$tabs-container-bg: $color__white;
$tabs-border: #bbb;


$color__background-body: $color__white;
$color__background-screen: #f1f1f1;
$color__background-hr: $color__light-gray;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-main: ;
$color__text-screen: #21759b;
$color__text-input: $color__dark-gray;
$color__text-input-focus: #111;

$color__link: $color__secondary;
$color__link-visited: $color__secondary;
$color__link-hover: $color__dark-gray;
$color__text-main: $color__darkest-gray;

$color__border: $color__mid-gray;
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: $color__light-gray;
$color__border-abbr: $color__dark-gray;
