$base-font-size:   2; // The font size set on the root html element.
$base-line-height: 1.5; // This line-height determines the basic unit of vertical rhythm.

$font__size-h1: 3;
$font__size-h2: 2.5;
$font__size-h3: 2;
$font__size-h4: 1.5;
$font__size-h5: 1.25;
$font__size-h6: 1;
$font__size-small: .90;
$font__size-smaller: .82;
$font__size-mini: .63;

// First, let's create some font stacks.
$times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times:           Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$georgia:         Georgia, "Times New Roman", "DejaVu Serif", serif;

$verdana:         Verdana, Tahoma, "DejaVu Sans", sans-serif;
$tahoma:          Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica:       Helvetica, Arial, "Nimbus Sans L", sans-serif;
$arial:           Arial, Helvetica, "Nimbus Sans L", sans-serif;

$calibri:         Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

// For an explanation of why "sans-serif" is at the end of this list, see
// http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
$courier:         "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
$typewriter: "Prestige Elite", "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
$prestige:          "Prestige Elite";
$font-awesome: 'FontAwesome';

// Now create some variables for the font stacks we want to use on this site.
$font__body:        $calibri;
$font__monospace:   $typewriter;
$font__navigation:  $typewriter;
$font__side-bar:    $typewriter;
$font__icon: $font-awesome;

$font__main: $font__body;
$font__code: $font__monospace;
$font__pre: $font__monospace;
$font__line-height-body: $base-line-height;
$font__line-height-pre: 1.6;

$fa-font-path:        "dist/fonts";
$fa-font-size-base:   16px;