.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-title {
    margin-bottom: .25em;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-content {
    margin-top: .25em;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-footer {
    .comments-link, 
    .edit-link {
        display: block;
    }
}

.page-staff,
.page-advisory-board,
.page-local-chapters-and-affinity-groups {
    .entry-content {
        h3 {
            clear: both;
            &:not(:first-child) {
                padding-top: 1em;
                margin-top: 1em;
                border-top: 1px solid $color__border;
            }
        }
    }
}

.archive {
    .site-main {

        article + article {
            padding-top: 1em;
            margin-top: 2em;
            border-top: 1px solid $color__border;
        }
    }
}

.recent-posts {
     article + article {
        padding-top: 1em;
        margin-top: 2em;
        border-top: 1px solid $color__border;
    }
}

